:root {
    --main-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --main-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --main-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --main-font-size: 14px;
    --main-font-weight: 400;
    --main-font-color: #212529;
    --main-line-height: 1.5;
    --color-white: #fff;
    --color-yellow: #f2b705;
    --color-dark-yellow: #B78A05FF;
    --color-dark-blue: #013f59;
    --color-blue-shadow: #02597f;
    --color-background: #f7f7f7;
    --color-border-img: #e9eef2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-font-color);
    line-height: var(--main-line-height);
}

.container {
    max-width: 975px;
    margin: 0 auto;
}

.title {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title_fz30 {
    font-size: 30px;
}

.title_fz18 {
    font-size: 18px;
    text-transform: unset;
}

.subtitle {
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.btn {
    margin-top: 30px;
    border: none;
    background: var(--color-yellow);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--main-font);
    letter-spacing: 1px;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 4px;
    box-shadow: 4px 7px 8px 0 rgba(1, 17, 66, 1);
    transition: all .5s;
}

.btn:hover {
    box-shadow: 4px 7px 8px 0 rgba(1, 17, 66, 0.8);
    filter: brightness(0.9);
}

.btn:focus {
    box-shadow: inset 4px 7px 8px 0 rgba(1, 17, 66, 1);
    background: var(--color-dark-yellow);
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/bacground.jpg') no-repeat 50%/cover;
    padding-top: 40px;
}

.promo__btn {
    background: var(--color-blue-shadow);
}

.promo__btn:focus {
    background: var(--color-dark-blue);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.header__logo {
    width: 86px;
    height: 45px;
}

.header__img {
    max-width: 100%;
    margin-top: -4px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 510px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__item {
    color: var(--color-white);
    text-transform: uppercase;
    transition: all 0.7s;
}

.header__item:after {
    display: block;
    content: "";
    background-color: var(--color-white);
    height: 1px;
    width: 0;
    border-radius: 6px;
}

.header__item:hover:after {
    width: 100%;
}

.promo__description {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.promo__subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-white);
    text-shadow:2px 1px 1px #02597f;
}

.promo__title {
    font-size: 54px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 800;
    line-height: 1px;
    text-shadow:2px 1px 1px var(--color-blue-shadow);
}

.services {
    padding: 120px 0 100px 0;
}

.services__wrapper {
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin-top: 70px;
}

.services__item-icon {
    position: relative;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    border: 3px solid var(--color-yellow);
    border-radius: 100%;
}

.services__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.services__item-icon img {
    max-width: 100%;
}

.services__item-title {
    margin-top: 20px;
}

.services__item-descr {
    margin-top: 8px;
}

.portfolio {
    background: var(--color-background);
    padding: 100px 0;
}

.portfolio__wrapper {
    display: grid;
    grid-template: minmax(410px, auto) / repeat(3, 300px);
    justify-content: space-between;
    grid-auto-rows: minmax(410px, auto);
    row-gap: 40px;
    margin-top: 75px;
}

.portfolio__item {
    background: var(--color-white);
}

.portfolio__item-image img {
    max-width: 100%;
}

.about {
    padding: 60px 0;
}

.about__item {
    margin-top: 100px;
}

.about__item-image {
    position: relative;
    text-align: center;

}

.about__item-img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid var(--color-border-img);
}

.about__item-image:after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 2px;
    height: 110px;
    background: var(--color-border-img);
}

.about__item-descr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about__item-left {
    width: 465px;
    text-align: right;
    left: -150px
}

.about__item-left .about__title {
    text-align: right;
    text-transform: uppercase;
}

.about__item-left .about__subtitle {
    text-align: right;
    text-transform: capitalize;
}
.about__item-right {
    width: 465px;
    text-align: left;
    left: 670px
}

.about__item-right .about__title {
    text-align: left;
    text-transform: uppercase;
}

.about__item-right .about__subtitle {
    text-align: left;
    text-transform: capitalize;
}

.about__button {
    text-align: center;
    margin-top: 70px;
}

.about__btn {
    width: calc(250px - 26px);
    height: calc(250px - 40px);
    box-shadow: none;
    border-radius: 100%;
    border: 5px solid var(--color-border-img);
    font-size: 22px;
    font-weight: 800;
}




@media(max-width: 1440px) {
    .container {
        width: 1200px;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        width: 720px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 540px;
    }
    .list {
        width: 95%;
    }
}

@media(max-width: 576px) {
    .container {
        width: 100%;
    }
}